!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.notification.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.17.custom.css')
    script(src='javascripts/jquery.js')
    script(src='javascripts/jquery.notification.js')
    script(src='javascripts/jquery-ui-1.8.17.custom.min.js')
    script(src='javascripts/underscore.js')
    script(src='javascripts/jkraken.js')
  body!= body